@font-face
{
    font-family: 'Montserat';
    src: url(./font/Montserrat-Regular.ttf)
}
body{
    background-color: coral;
}
#mainpage{
    width: 80%;
    height: 1800px;
    margin-left: 150px;
}
#testHeader{
    width: 100%;
    height: 70px;
    background-color: green;
    font-family: "Montserat";
    font-size: xx-large;
    text-align: center;
}
#desc{
    width: 100%;
    height: 70px;
    background-color: orange;
    margin-top: 30px;
    font-family: "Montserat";
    font-size: x-large;
    text-align: center;

}
#allquestions{
    width: 100%;
    height: 1150px;
    margin-top: 60px;

}
#answerbtn {
    position: relative;
    height: 40px;
    line-height: 40px;
    background: linear-gradient(-135deg, #00E5FE, #4463FE);
    box-shadow: 0 15px 65px #4753FF;
    border-width: 0;
    border-radius: 50px;
    font-family: "Montserat";
    font-size: 14px;
    color: white;
    outline: none;
    cursor: pointer;
 }
 #answerbtn:before {
    position: absolute;
    left: 5px;
    top: 5px;
    font-family: "Montserat";
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: transparent;
    transition: .3s ease-in-out;
 }
 #answerbtn:hover:before {
    background: white;
    color: #24D8F7;
 }
.questionsCSS{
    font-family: "Montserat";
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: aquamarine;
}
#result{
    width: 100%;
    height: 200px;
    font-family: "Montserat";
    margin-top: 40px;
    text-align: center;
    font-size: x-large;
}